{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form class="row" method="post">
        {% csrf_token %}
        <div class="col-12 mb-5 fs-3 fw-bolder">
            Register to MoneyMint
        </div>
        <div class="mb-3 col-6">
            <label for="username" class="form-label">First name</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3 col-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3 col-6">
            <label for="DOB" class="form-label">Date of birth</label>
            <input type="date" class="form-control" id="DOB" name="DOB" required>
        </div>
       
        <div class="mb-3 col-6">
            <label for="aadhar" class="form-label">Aadhar card number</label>
            <input type="number" class="form-control" id="aadhar" name="aadhar" required>
        </div>
        <div class="mb-3 col-6">
            <label for="pancard" class="form-label">Pan card number</label>
            <input type="text" class="form-control" id="pancard" name="pancard" required>
        </div>
        <div class="mb-3 col-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3 col-12">
            <label for="address" class="form-label">Address</label>
            <textarea class="form-control" id="address" name="address" rows="5"></textarea>
          </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>

{% endblock content %}